#cookie-law-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
	padding: 10px 0;
	background: #FEFEFE;
	color: #444;
	border-top: solid #111 1px;
	box-shadow: 0 -5px 10px #666;
	z-index: 10000;
	font-size: 14px;
	font-weight: normal;
	transition: opacity 0.5s ease-in;
}

#cookie-law-bar > div {
	width: 100%;
	max-width: 1280px;
	padding: 20px;
	margin: auto;
}

a.cookie-bar-button {
	display: inline-block;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 20px;
	border-radius: 20px;
}

a.cookie-bar-button-personalizza:link, a.cookie-bar-button-personalizza:visited {
	border: solid #555 1px;
	background: #FFF;
	color: #111;
}

a.cookie-bar-button-rifiuta:link, a.cookie-bar-button-rifiuta:visited {
	background: #A00;
	color: #FFF;
}

a.cookie-bar-button-accetta:link, a.cookie-bar-button-accetta:visited {
	background: #0A0;
	color: #FFF;
}

a.cookie-bar-button:hover {
	opacity: 0.95;
	box-shadow: 1px 1px 10px #BBB;
}
