#cookie-law-bar{
	background: #F0F0F0;
	color: #555;
	border-bottom: solid #C33 1px;
	width: 100%;
	position: relative;
	z-index: 1000;
	overflow: hidden;
	font-size: 14px;
	font-weight: normal;

	-webkit-transition: height 0.5s ease-in;
	-moz-transition: height 0.5s ease-in;
	-o-transition: height 0.5s ease-in;
	-ms-transition: height 0.5s ease-in;
	transition: height 0.5s ease-in;
}

#cookie-law-bar > div{
	padding: 10px 0;
}

#cookie-law-bar a:link, #cookie-law-bar a:visited{
	color: #000;
	font-weight: bold;
}